/* * {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  box-sizing: border-box;
} */

.container {
  margin: auto 100px;
  height: 20vh;
  box-sizing: border-box;
}

.input-container {
  display: flex;
  margin: 25px 0;
}

.input-element {
  border: 1 rgb(150, 150, 150);
}

.add-button {
  width: 50px;
}

.list-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  padding: 0;
  position: relative;
  list-style-position: inside;
}

.list-item {
  text-align: left;
  width: auto;
  list-style: none;
  background-color: aqua;
  padding: 20px;
  display: flex;
  align-items: flex-start;
}

.item-content-wrapper {
  display: flex;
  /* flex-direction: column;
  flex-grow: 1; */
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}

.remove-button {
  align-self: flex-start;
  z-index: 2;
  text-align: center;
}

.date {
  margin-top: 2px;
  font-size: small;
  font-weight: 100;
  opacity: 0.5;
}

.checkbox {
  width: 15px; /* Ensure the checkbox has a visible size */
  height: 15px; /* Ensure the checkbox has a visible size */
  margin-right: 5px; /* Space between checkbox and text */
}
